<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8"/>
    <title>About</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet"/>


</head>
<body>
<div class="container-fluid" id="header">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
        <!-- logo -->
        <a class="navbar-brand" href="/">Authenti-Q</a>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item; active">
                <a class="nav-link" href="aboutUs">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="verification">Verify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="publish">Publish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#myModal">Register</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="glyphicon glyphicon-cog" id="adminNavItem" href="administration"></a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Please enter valid University Credentials below
                </p>

                <form role="form" id="emailForm" action="#" th:action="@{/emailSubmission}" th:object="${university}" method="post">
                    <div class="form-group">


                        <p>
                            <label for="emailID"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                            <input type="email" class="form-control" id="emailID" th:field="*{email}" placeholder="Enter email"/></p>
                        <p>
                            <label for="uniID"><span class="glyphicon glyphicon-book"></span> University Name</label>
                            <input type="text" class="form-control" id="uniID"  th:field="*{uniName}" placeholder="Enter University Name"/></p>
                        <p>
                            <label for="adminID"><span class="glyphicon glyphicon-user"></span> University contact name</label>
                            <input type="text" class="form-control" id="adminID"  th:field="*{adminName}" placeholder="Enter contact name"/></p>
                        <p>
                            <label for="adminContactNumber"><span class="glyphicon glyphicon-earphone"></span> Contact Number</label>
                            <input type="number" class="form-control" id="adminContactNumber"  th:field="*{contactNumber}" placeholder="Enter contact number"/></p>
                    </div>
                    <button type="button" id="submitButton" class="btn btn-default btn-success btn-block" data-dismiss="modal" ><span class="glyphicon glyphicon-check"></span> Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="SuccessModal" role="dialog">
    <div class="modal-dialog">

        <!-- Bootstrap Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="title" class="modal-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="status"></p>
                <p th:text=" 'We need to investigate the authenticity of your University.'"/>
                <p th:text=" 'You will recieve an email regarding the success of your registration as soon as possible.'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ErrorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Bootstrap Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="errortitle" class="modal-title">Error</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="errorstatus"></p>
                <p th:text=" 'This University has already been registered'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div  class="aboutTable">
    <h1 id="AboutTitle">What is Blockchain? Why should I use it?</h1>
    <table class="table">

        <tr bgcolor="#c3c6cc">
             <td class="imageForAbout">
                 <img class="imageClass" width="100%" height="100%" src="images/lightbulb.jpg" />
             </td>
            <td>
                <h3 class="aboutTableHeaderWhite">Lightbulb Moment in Data Security</h3>
            <p class="aboutParagraph">
               Blockchain has been around for years but it wasn't until Bitcoin exploded that Industry really started to investigate it's benefits. Blockchain is a peer-to-peer network consisting of several nodes. Each node on the network keeps an up to date copy of the blockchains data and actively verifies and authenticates new information being push to the network. Data is stored in the network in 'blocks' these blocks take the signature of the previous block before being encrpted. This way, every blockchain on the chain can be traced back to the original 'genesis' blockchain. This form of validation prevents and malicious actor from tampering with data in any point if the chain. If a block is altered, the signatures wont match up.
            </p>
            </td>

        </tr>
    </table>
    <table class="table" id="aboutTableColumnGrey">
        <tr>
            <td>
                <h3 class="aboutTableHeaderGray">Revolution through Decentralisation</h3>
                <p class="aboutParagraph">
                    The lack of a centralised authority in a blockchain network appeals to a variety of users. For example, one of the main benefits of the Bitcoin network is the ability to store your own currency wherever you like, it is possible to keep your entire wealth completely private with bitcoin. This also leads to the benefit which is anonymity, without using a bank to process all your financial transactions, you can make secure and private transactions without any 3rd party monitoring your actions. Removal of a third party also removes the chance of your data being manipulated by an entity who is always assumed to be 'trusted'. Any news search of recent data breaches will indicate this third parties are not as trusting as everyone would like to think.
                </p>
            </td>
            <td class="imageForAbout">
                <img class="imageClass" width="100%" height="100%" src="images/decentralised.png" />
            </td>
        </tr>
    </table>
    <table class="table">
        <tr bgcolor="#c3c6cc">
            <td class="imageForAbout">
                <img class="imageClass" width="100%" height="100%" src="images/qualification.jpg" />
            </td>
            <td>
                <h3 class="aboutTableHeaderWhite">So how is Blockchain technology applied to Qualification Authentication?</h3>
                <p class="aboutParagraph">
                    Consider a graduating student applying for a new job. They send of their CV and Human Resources staff make shortlisting decisions based on the credentials on the CV. There are several areas where this process can be flawed. What stops an applicant from placing a fake degree on their CV? Or maybe a real degree but using the wrong classification? As a precaution, the employer might request a copy of the certificate from the applicant. Whats to stop the applicant purchasing a fake certificate? Maybe the employer takes it a step further and decides to contact the University directly. Whats to stop the University staff from confirming the false classification? Could a malicious actor attempt to alter the University record? All these problems can be address by blockchain technology.
                </p>
            </td>
        </tr>
    </table>



</div>


<!-- SCRIPTS =============================-->
<script src="js/jquery-.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/anim.js"></script>
</body>


<footer>
    <!-- FOOTER =============================-->
    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="col-md-4 footernote">
                    Fast. Secure. Reliable.
                </p>
                <ul class = "col-md-5 list-inline">
                    <li class="list-inline-item"><a href="/home"><u>Home</u></a> </li>
                    <li class="list-inline-item; active"><a href="/aboutUs"><u>About</u></a></li>
                    <li class="list-inline-item"><a href="/verification"><u>Verify</u></a></li>
                    <li class="list-inline-item"><a href="/publish"><u>Publish</u></a></li>
                    <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#myModal"><u>Register</u></a></li>

                </ul>
                <p class="col-md-3">
                    B00658563
                </p>
            </div>
        </div>
    </div>

</footer>

</html>


