<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Authenti-Q</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet"/>



</head>

<body>

<header class="item header margin-top-0">
    <div class="wrapper">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
            <!-- logo -->
            <a class="navbar-brand" href="/">Authenti-Q</a>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="aboutUs">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="verification">Verify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="publish">Publish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-toggle="modal" data-target="#myModal">Register</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="glyphicon glyphicon-cog" id="adminNavItem" href="administration"></a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-homeimage">
                        <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                            Discover the power of Blockchain
                        </div>
                        <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                            Qualification Authentication made easy
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- STEPS =============================-->
<div class="item content">
    <div class="container toparea">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="col editContent">
                    <span class="numberstep"><i class="fa fa-link"></i></span>
                    <h3 class="numbertext">Remove chance of fraud</h3>
                    <p>
                        Online verification removes the chance of an applicant sending a forged certificate.
                    </p>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep"><i class="fa fa-users"></i></span>
                    <h3 class="numbertext">Remove third-parties</h3>
                    <p>
                        Blockchain's decentralised nature means applicant's data can't be tampered with. It also removes the need for University admins.
                    </p>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep"><i class="fa fa-check"></i></span>
                    <h3 class="numbertext">Instant verification</h3>
                    <p>
                        Authenti-Q verification takes a couple of minutes. No need to wait for receipt of paper certificates or confirmation emails from Universities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- SCRIPTS =============================-->
<script src="js/jquery-.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/anim.js"></script>
<script src="js/registrationFormHandler.js"></script>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Please enter valid University Credentials below
                </p>

                <form role="form" id="emailForm" action="#" th:action="@{/emailSubmission}" th:object="${university}" method="post">
                    <div class="form-group">


                        <p>
                            <label for="emailID"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                            <input type="email" class="form-control" id="emailID" th:field="*{email}" placeholder="Enter email"/></p>
                        <p>
                            <label for="uniID"><span class="glyphicon glyphicon-book"></span> University Name</label>
                            <input type="text" class="form-control" id="uniID"  th:field="*{uniName}" placeholder="Enter University name"/></p>
                        <p>
                            <label for="adminID"><span class="glyphicon glyphicon-user"></span> University contact name</label>
                            <input type="text" class="form-control" id="adminID"  th:field="*{adminName}" placeholder="Enter contact name"/></p>
                        <p>
                            <label for="adminContactNumber"><span class="glyphicon glyphicon-earphone"></span> Contact Number</label>
                            <input type="number" class="form-control" id="adminContactNumber"  th:field="*{contactNumber}" placeholder="Enter contact number"/></p>
                    </div>
                    <button type="button" id="submitButton" class="btn btn-default btn-success btn-block" data-dismiss="modal" ><span class="glyphicon glyphicon-check"></span> Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="SuccessModal" role="dialog">
    <div class="modal-dialog">

        <!-- Bootstrap Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="title" class="modal-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="status"></p>
                <p th:text=" 'We need to investigate the authenticity of your University.'"/>
                <p th:text=" 'You will recieve an email regarding the success of your registration as soon as possible.'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ErrorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Bootstrap Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="errortitle" class="modal-title">Error</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="errorstatus"></p>
                <p th:text=" 'This University has already been registered'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>

<footer>
    <!-- FOOTER =============================-->
    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="col-md-4 footernote">
                    Fast. Secure. Reliable.
                </p>
                <ul class = "col-md-5 list-inline">
                    <li class="list-inline-item"><a href="/home"><u>Home</u></a> </li>
                    <li class="list-inline-item"><a href="/aboutUs"><u>About</u></a></li>
                    <li class="list-inline-item"><a href="/verification"><u>Verify</u></a></li>
                    <li class="list-inline-item"><a href="/publish"><u>Publish</u></a></li>
                    <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#myModal"><u>Register</u></a></li>

                </ul>
                <p class="col-md-3">
                    B00658563
                </p>
            </div>
        </div>
    </div>


</footer>

</html>




