<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Publish</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script     src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet"/>


</head>
<body>
<div class="container-fluid" id="header">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">Authenti-Q</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="aboutUs">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="verification">Verify</a>
            </li>
            <li class="nav-item; active">
                <a class="nav-link" data-toggle="modal" data-target="#myModal">Register</a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Please enter valid University Credentials below
                </p>

                <form role="form" id="emailForm" action="#" th:action="@{/emailSubmission}" th:object="${university}" method="post">
                    <div class="form-group">


                        <p>
                            <label for="emailID"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                            <input type="email" class="form-control" id="emailID" th:field="*{email}" placeholder="Enter email"/></p>
                        <p>
                            <label for="uniID"><span class="glyphicon glyphicon-book"></span> University Name</label>
                            <input type="text" class="form-control" id="uniID"  th:field="*{uniName}" placeholder="Enter University Name"/></p>
                        <p>
                            <label for="adminID"><span class="glyphicon glyphicon-user"></span> Administrator name</label>
                            <input type="text" class="form-control" id="adminID"  th:field="*{adminName}" placeholder="Enter Aministrator Name"/></p>
                    </div>
                    <button type="button" id="submitButton" class="btn btn-default btn-success btn-block" data-dismiss="modal" ><span class="glyphicon glyphicon-check"></span> Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="SuccessModal" role="dialog">
    <div class="modal-dialog">

        <!-- Bootstrap Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="title" class="modal-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="status"></p>
                <p th:text=" 'We need to investigate the authenticity of your University.'"/>
                <p th:text=" 'You will recieve an email regarding the succss of your registration as soon as possible.'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="Notification upon submission"></div>

<div class="container-fluid" id="publishDataContainer">

  

</div>


<!-- FOOTER =============================-->
<div class="footer text-center">
    <div class="container">
        <div class="row">
            <p class="col-md-4 footernote">
                Fast. Secure. Reliable.
            </p>
            <ul class = "col-md-5 list-inline">
                <li class="list-inline-item"><a href="/home"><u>Home</u></a> </li>
                <li class="list-inline-item"><a href="/aboutUs"><u>About</u></a></li>
                <li class="list-inline-item"><a href="/verification"><u>Verify</u></a></li>
                <li class="list-inline-item"><a data-toggle="modal" data-target="#myModal"><u>Register</u></a></li>

            </ul>
            <p class="col-md-3">
                B00658563
            </p>
        </div>
    </div>
</div>

<script src="js/registrationFormHandler.js"></script>

</body>


</html>


<style type="text/css">
            .container-fluid {
  padding-right:0;padding-left:0;
}
</style>